{% extends "theme.html" %}
{% block content %}
        <form action="{{url_for('addinventory')}}" method="POST">
             <label>DATE</label>
             <input type="date" name="date"/><br><br>
             <label>PRODUCT</label>
             <input type="text" name="product"/><br><br>
             <label>LOCATION</label>
             <input type="text" name="info" style="width:600px;"/><br><br>
             <label>UNITS</label>
             <input type="number" name="units"/><br><br>
             <label>PRICE/UNIT</label>
             <input type="number" name="unitcost"/><br><br>
             <label>INVENTORY</label>
             <input type="number" name="cogfs"/><br><br>
            <!--<label>SALES</label>-->
             <!--<input type="number" name="cogs"/><br><br>-->            
             <input type="submit" name="addnewproduct" value="ADD NEW PRODUCT"/>
         </form>
    <h3>PERCHASE RECORD</h3>
        <table border='1' width='900'>
            <tr>
                <th>DATE</th>
                <th>PRODUCT</th>
                <th>LOCTAION</th>
                <th>UNITS</th>
                <th>PRICE/UNIT</th>
                <th>INVENTORY</th>
                <!--<th>SALES</th>-->
                <th colspan="2">Action</th>
            </tr>
             {% for row in data %}
                <tr align="center">
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <!--<td>{{row[7]}}</td>-->
                    <td><a href="{{url_for('editinventory',id=row[0])}}">edit</a></td>
                    <td><a href="{{url_for('deleteinventory',id=row[0])}}">remove</a></td>
                </tr>
            {% endfor %}
            
        </table>


{% endblock %} 