{% extends "theme.html" %}
{% block content %}
        <h3>Employee Login Here</h3>
        <form action="{{url_for('check')}}" method="POST">
            <label>name</label>
            <input type="text" name="name"/><br><br>
            <label>Password</label>
            <input type="password" name="pwd"/><br><br>
            <input type="submit" name="login" value="Login"/><br><br>
        </form>
        <ul>
        <li><a href="{{url_for('adduser')}}">Employee Sign up</a></li>
        </ul>
    
{% endblock %}